- name: Ensure packages are updated
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist
    cache_valid_time: 3600

- name: Install baseline packages
  ansible.builtin.apt:
    name:
      - fail2ban
      - unattended-upgrades
      - auditd
    state: present

- name: Ensure auditd service enabled
  ansible.builtin.service:
    name: auditd
    state: started
    enabled: yes

- name: Create ops user
  ansible.builtin.user:
    name: "{{ devops_user | default('devops') }}"
    shell: /bin/bash
    create_home: yes
    state: present

- name: Add ops user to sudo
  ansible.builtin.user:
    name: "{{ devops_user | default('devops') }}"
    groups: sudo
    append: yes

- name: Create .ssh directory for ops user
  ansible.builtin.file:
    path: "/home/{{ devops_user | default('devops') }}/.ssh"
    state: directory
    owner: "{{ devops_user | default('devops') }}"
    group: "{{ devops_user | default('devops') }}"
    mode: "0700"
  
- name: Allow devops passwordless sudo
  ansible.builtin.copy:
    dest: "/etc/sudoers.d/{{ devops_user | default('devops') }}"
    content: "{{ devops_user | default('devops') }} ALL=(ALL) NOPASSWD:ALL"
    owner: root
    group: root
    mode: "0440"


- name: Copy authorized_keys from root to ops user
  ansible.builtin.copy:
    src: /root/.ssh/authorized_keys
    dest: "/home/{{ devops_user | default('devops') }}/.ssh/authorized_keys"
    owner: "{{ devops_user | default('devops') }}"
    group: "{{ devops_user | default('devops') }}"
    mode: "0600"
    remote_src: yes

- name: Harden sshd - disable password auth
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PasswordAuthentication'
    line: 'PasswordAuthentication no'
    state: present
    backup: yes

- name: Harden sshd - disable root login
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'
    state: present

- name: Reload sshd
  ansible.builtin.service:
    name: sshd
    state: reloaded
