- name: Ensure packages are updated
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist
    cache_valid_time: 3600

- name: Install baseline packages
  ansible.builtin.apt:
    name:
      - fail2ban
      - unattended-upgrades
      - auditd
    state: present

- name: Ensure auditd service enabled
  ansible.builtin.service:
    name: auditd
    state: started
    enabled: yes

- name: Create ops user
  vars:
    devops_user: "{{ devops_user | default('devops') }}"
  ansible.builtin.user:
    name: "{{ devops_user }}"
    shell: /bin/bash
    create_home: yes
    state: present

- name: Add ops user to sudo
  vars:
    devops_user: "{{ devops_user | default('devops') }}"
  ansible.builtin.user:
    name: "{{ devops_user }}"
    groups: sudo
    append: yes

- name: Copy authorized_keys from root to ops user
  vars:
    devops_user: "{{ devops_user | default('devops') }}"
  ansible.builtin.copy:
    src: /root/.ssh/authorized_keys
    dest: "/home/{{ devops_user }}/.ssh/authorized_keys"
    owner: "{{ devops_user }}"
    group: "{{ devops_user }}"
    mode: "0600"
    remote_src: yes

- name: Harden sshd - disable password auth
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PasswordAuthentication'
    line: 'PasswordAuthentication no'
    state: present
    backup: yes

- name: Harden sshd - disable root login
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'
    state: present

- name: Reload sshd
  ansible.builtin.service:
    name: sshd
    state: reloaded
